#box1
{
    border :solid 2px;
    border-color: red;
    color: black;
    border-radius: 20px;
}
#box2
{
    margin-top: 10px;
    border: solid 2px;
    border-color: red;
    color: black;
    border-radius: 30px 14px;
    
}